<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tazdon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F42305B91DAC031C00A20303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F42305CD1DAC031C00A20303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F42305D81DAC031C00A20303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
